p{
    color: rgb(0, 0, 0);
}


a.kasimlink{
    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px;
    color: #ccccff;

}
a.kasimlink:hover{
    background-color: #ccccff;
    color: white;
}
div.kasimdivgrey{
    background-color: #ccccff;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccccff;
    width: 100%;
    margin: 10px auto;

}
h4.kasimsmallh4{
    font-size: 18px;
    color: rgb(47, 84, 153);
}

.kasimcolor{
    color: #ccccff;
}
.crop{
    height: 500px;
    overflow: auto;
    object-fit:cover;
    margin: 10px 5px;
    border-radius: 10px;
}
.kasimcallmebg{
    background-image: url("../assets/img/Purple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tetris {
  background-color: #000;
  display: block;
  margin: 0 auto;
  border: 2px solid #ccc;
}

.whitecolor{
    color: white !important;
}

.kasimspeech{
    padding: 30px 40px;
    background-color: #ccccff;
    border-radius: 20px;
    width: 70%;
    margin: 0px auto;
    font-family:'Noto Serif TC'
}

.serif{
    font-family:'Noto Serif TC', sans-serif;
}

.textcenter{
    text-align: center;
}
.herodown {
  position: absolute;
  bottom: 180px;
  left: 57%;
  font-size: 30px;
  color: #ccccff;
  text-decoration: none;
}

.kasimaboutbg{
    background-image: url("../assets/img/kasimaboutbg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
